* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
  }
  * a {
    text-decoration: none;
  }
  * li {
    list-style: none;
  }
  .container {
    min-height: 120vh;
    padding-bottom: 50px;
    margin: 0 auto;
    position: relative;
  }

  body {
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
background-attachment: fixed;
  background-repeat: no-repeat;

    font-family: 'Vibur', cursive;
/*   the main font */
    font-family: 'Abel', sans-serif;
opacity: .95;
/* background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%); */
}

  .bg {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .bg::after {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    filter: brightness(45%);
    background-image: linear-gradient(-225deg, #d2fff9 50%, #FFE6FA 50%);
    background-size: cover;
    background-position: center;
  }
  .navBar {
    display: flex;
    width: 85%;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    height: 15vh;
  }
  .navBar ul {
    display: flex;
    align-items: center;
  }
  .navBar ul li {
    padding: 0 25px;
  }
  .navBar ul li a {
    font-size: 1rem;
    color: #fff;
    font-weight: 400;
    letter-spacing: 1.5px;
  }
  .navBar .logo a {
    font-size: 2.3rem;
    color: #fff;
  }
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
  }
  
  .card {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    width: 400px;
    height: 600px;
  }
  .card h2 {
    color: #000; /* Change text color to black */
    position: absolute;
    bottom: 15px;
    left: 20px;
    font-size: 1.6rem;
    letter-spacing: 1px;
  }
  .card .box1,
  .box2 {
    width: 100%;
    height: 350px;
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 25px;
    cursor: pointer;
  }
  .box1 {
    background-image: linear-gradient(-225deg, #E3FDF5 50%, #FFE6FA 50%);
  }
  .box2 {
    background-image: linear-gradient(-225deg, #E3FDF5 50%, #FFE6FA 50%);
  }
  
  .text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .txt h1 {
    font-size: 7rem;
  }
  
  .txt h2  {
    color: #030412;
  }
  .card div {
    transition: 0.5s;
  }
  .card div:hover {
    transition: 0.3s;
    transform: translateY(-10px);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
  